.header-logo{
	a {
		display: inline-block;
		outline: none;
	}
}
.header {
	.primary-menu {
	    background: transparent;
        position: fixed;
    	width: 100%;
		z-index: 99;
		@include transition($transition);
		.menu-area {
			@include breakpoint(lg) {
				margin: 0 -15px;
			}
		}
	}
}
.main-menu {
	list-style: none;
	margin: 0;
    justify-content: center;
	li {
		padding: 0;
	    &.active {
	    	a {
		    	&::after {
		    		transform: scaleX(1);
		    	}
		    }
	    }
		a {
			color: $title-color;
			padding: 18px 10px;
			display: inline-block;
			margin: 0 5px;
			font-size: 17px;
			font-weight: 400;
			position: relative;
			text-decoration: none;
			font-family: $font-family-f;
			@include transition($transition);
		    &:hover {}
		}
		&:hover>{
			a {
				color: $theme-color;
			}
		}
		&:last-child {
			a {
				padding-right: 0;
			}
		}
	}
}
